/* LOGIN PAGE */

.login-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
}

.login-box{
  width: 400px;
  background: white;
  padding: 40px;
  border-radius: 20px;
}

.login-title{
  text-align: center;
  font-size: 42px;
  margin-bottom: 35px;
}

.login-input{
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: none;
  background: #e8eefc;
  font-size: 18px;
  box-sizing: border-box;
}

.login-btn{
  width: 100%;
  padding: 18px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
}

.login-btn:hover{
  background: #1d4ed8;
}